@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    border: none;
}

html {
    scroll-behavior: smooth;
}


html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5rem;
}

.background {
    background-image: url(capa\ azul\ maranata.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}



body {
    background-color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding-top: 1.5rem;
    align-items: center;
}

.logo img {
    width: 75px;
    height: auto;
    margin-left: 5rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

ul li a:hover {
    text-transform: capitalize;
    color: blue;
    border-bottom: solid 1px;
}

.c_icon {
    margin-right: 5rem;
}

.incone ion-icon {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

hr {
    border-bottom: solid 0.1px;
    color: white;
    margin-top: 15px;
}

.c_title {
    margin-left: 5rem;
    margin-top: 10rem;
}

.c_title h1 {
    color: #fff;
    font-size: 2.0rem;
    font-weight: bold;
}

.c_title p {
    color: #fff;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 100;
    font-weight: bold;
}

.c_title button {
    margin-top: 2rem;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
}

.c_title button:hover {
    letter-spacing: 2px;
    transition: 0.3s all;
}

button a {
    text-decoration: none;
    color: #000;
}

.section-1 h1 {
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 3rem;
}

.section-1 span {
    color: yellow;
}

.section-1 {
    padding: 5rem;
}

.sobre-nos {
    display: flex;
    align-items: center;
    background-color: #13131a;
    max-width: 100%;
    width: 100%;
    margin-top: 2rem;
}

.sobre-nos img {
    max-width: 100%;
    width: 80rem;
    height: auto;
}

.sobrenos_title {
    margin-left: 1.3rem;
}

.sobrenos_title h2 {
    color: #fff;
    font-size: 2rem;
}

.sobrenos_title p {
    line-height: 2rem;
    padding-top: 1rem;
    font-size: 1rem;
    color: #fff;
    width: 45rem;
}

.sobrenos_title button {
    margin-top: 2rem;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
}

.sobrenos_title button:hover {
    letter-spacing: 2px;
    transition: 0.3s all;
}

.sobrenos_title button span {
    color: black;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1rem;
    padding: 10px;
}

.section-2 h1 {
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
}

.container-card-1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.card-img {
    border: solid 1px rgba(255, 255, 255, 0.3);
    padding: 5rem;
    align-items: center;
    text-align: center;
    max-width: 100%;
    width: 25rem;
    height: 23rem;
}

.card-img img {
    width: 120px;
    height: 65px;
}

h3 {
    font-size: 1.5rem;
    color: #ffffff;
}

p {
    color: #ccc;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.card-img button {
    margin-top: 1rem;
    background-color: #d3ad7d;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
}

.card-img:hover {
    transform: scale(1.1);
    transition: 0.5s all;
    background-color: #0d0d0f;
}

#container-card-2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.section-1 {
    background-color: #000035;
}

.section-2 {
    background-color: #000035;
}

.video h2 {
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
}

.section-3 {
    background-image: url(maranata\ fundo\ sobre\ nos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.section-3 h1 {
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    margin-top: 3rem;
}

.container-card-3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
    max-width: 100%;
}

.section-4 {
    padding: 0 10rem 0 10rem;
}

.section-4 h1 {
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    margin-top: 3rem;
}

.container-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

form {
    background-color: #13131a;
    padding: 2rem;
    width: 50rem;
    height: auto;
}

form h3 {
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

.section-4 .container-form .mapa {
    width: 100%;
    flex: 1.45rem;
    object-fit: cover;
}

.input-form input {
    width: 100%;
    padding: 1.5rem;
    background: black;
    color: #fff;
}

.input-form {
    display: flex;
    align-items: center;
    padding: 0 0 0 1rem;
    margin-top: 1rem;
    background: black;
    color: #fff;
    gap: 2rem;
}

.input-form span {
    font-size: 1.5rem;
    color: #fff;
}

form button {
    margin-top: 2rem;
    background-color: #d3ad7d;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

form button input {
    background-color: #d3ad7d;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.form button input:hover {
    letter-spacing: 2px;
    transition: 0.3s all;
}

.footer {
    background: var(--black);
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background: var(--main-color);
}

.footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}

/* Responsivo */
@media (max-width: 768px) {
    header,
    .ul,
    .sobre-nos,
    .container-card-1,
    .container-card-3,
    .section-4 {
        flex-direction: column;
        align-items: center;
    }

    .logo img,
    .c_icon,
    .sobrenos_title,
    .card-img {
        margin: 0;
    }

    .ul {
        gap: 1rem;
    }

    .container-form {
        width: 100%;
        padding: 0 1rem;
    }

    form {
        width: 90%;
    }

    .sobrenos_title {
        margin-left: 0;
        text-align: center;
        padding: 1rem;
    }

    .sobre-nos {
        flex-direction: column;
        padding: 1rem;
    }

    .sobre-nos img {
        width: 100%;
        height: auto;
    }

    .sobrenos_title p,
    .sobrenos_title h2 {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .c_title h1,
    .section-1 h1,
    .section-2 h1,
    .video h2,
    .section-3 h1,
    .section-4 h1 {
        font-size: 1.5rem;
    }

    .card-img,
    .sobrenos_title p {
        padding: 2rem;
    }

    .c_title p,
    .sobrenos_title p {
        font-size: 1rem;
    }

    .card-img {
        width: 100%;
        padding: 1rem;
    }

    .sobrenos_title {
        padding: 0.5rem;
    }

    .sobre-nos img {
        width: 100%;
    }
}

/* Responsivo */
@media (max-width: 768px) {
    .container-form {
        width: 100%;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 100%;
        max-width: 800px; /* Aumenta a largura máxima do formulário */
        padding: 2rem;
        box-sizing: border-box;
        background-color: #13131a;
        border-radius: 8px;
        margin-bottom: 2rem;
    }

    form h3 {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .input-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .input-form input,
    .input-form textarea {
        width: 100%;
        padding: 1.2rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #333;
        color: #fff;
    }

    .input-form span {
        display: none;
    }

    form button {
        width: 100%;
        padding: 1.2rem;
        font-size: 1.2rem;
        background-color: #d3ad7d;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }

    form button:hover {
        background-color: #c09a69;
    }

    .section-4 .container-form .mapa {
        width: 100%;
        max-width: 800px; /* Aumenta a largura máxima do mapa */
        height: 500px; /* Aumenta a altura do mapa */
        margin-bottom: 2rem;
    }
}

@media (max-width: 480px) {
    form {
        padding: 1.5rem;
    }

    .input-form input,
    .input-form textarea {
        padding: 1.2rem;
    }

    form button {
        padding: 1.2rem;
        font-size: 1.2rem;
    }

    .section-4 .container-form .mapa {
        height: 400px; /* Ajusta a altura para telas menores */
    }
}

/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

    div{
        padding:2rem
    }

    .card-video{
        display: flex ;
        max-width: 100%;
        margin-right: 20%;
    }    

   
}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}